<div class="container-fluid mainfeature-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->
    <div class="row">
        <div class="col-lg-7">  
            <img src="#.jpg" height="200px" width="300px">            
        </div>
        <div class="col-lg-5">
            <a href="{{ view.main_feature.get_abolute_url }}">{{ view.main_feature.title }}feature.title </a>
            <br>
            <a href="{{ view.main_feature.get_abolute_url }}">{{ view.main_feature.teaser_text }}feature.teaser_text</a>           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="{{ view.main_feature.get_abolute_url }}">{{ view.main_feature.comment }}feature.comment</a>
        </div>
        <div class="col-lg-6">
            <a href="{{ view.main_feature.get_abolute_url }}">{{ view.main_feature.related }}feature.related</a>
        </div>
    </div>
</div>