<nav class="navbar navbar-custom" data-spy="affix" data-offset-top="635">  
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Buckanjären</a></li>
    <li><a href="#">Sverige</a></li>
    <li><a href="#">Europa</a></li>
    <li><a href="#">Världen</a></li>
    <li><a href="#">USA</a></li>
    <li><a href="#">Politik</a></li>
    <li><a href="#">Ekonomi</a></li>
    <li><a href="#">Krönikor</a></li>
    <li><a href="#">Teknologi</a></li>
    <li><a href="#">Vetenskap</a></li>    
    <li><a href="#">Hälsa</a></li>
    <li><a href="#">E-Sport</a></li>
    <li><a href="#">Sport</a></li>
    <li><a href="#">Magasinet</a></li>
  </ul>
</nav>
