{% load staticfiles %}
{% load custom_markdown %}

<div class="container-fluid opblog-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->
    <div class="row">        
        <div class="col-lg-2"> 
            <img class="categorynews-title-graph" src="{% static 'images/pirate-logo-web.jpg' %}" alt="swoosh" > 
        </div>
         <div class="col-lg-10"> 
            <!-- <a class="text-nowrap" href="{{ mainfeatureArticle.get_absolute_url }}"><h2>{{ mainfeatureArticle.title|custom_markdown }}</h2></a> -->
            CategoryNews
        </div> 
    </div>    
    <div class="row"> 
        <ul>
            {% for article in view.getlatestopinion %}
                <li><a href="{{ article.get_abolute_url }}">{{ article.title }}article.title</a></li>
            {% endfor %}
        </ul>   
    </div>
</div>