body {
  padding-top: 0px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar {
    margin-bottom: 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}

.affix-top {
    top: 0;
    width: 100%;
    position: static;
    top: -85px;
    background-color: #fff;
}

.affix {
    top: 0;
    position: fixed;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999 !important;    
}

/* .container-fluid + .affix {
    padding-top: 120px;
    background-color: #fff000;
} */

/* ************************************************ */

.navbar-custom {
    background-color:#3b315e;
    color: #ffffff;
    border-radius: 0px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #3b315e;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#3b315e;
}


.jumbotron{
    background: url("../images/bucmain-FULL.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 230px;
    
    margin-bottom: 0px;    
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

/***************** Content ******************/
.content-body {    
    padding-top: 10px;    
}

.first-row {    
    border-bottom: 6px solid #ce6504;  
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.second-row {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
}

.third-row {
    border-top: 6px solid #ce6504;  
    padding-top: 40px;
    margin-top: 20px;
}

.minitrue-container {
    padding: 0px;
    margin: auto;
    border-right: 1px solid #bcc4d1; 
}

.categorynews-container {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
}

.featurenews-container {    
    border: 2px solid #bcc4d1;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.mainfeature-container {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.mainfeature-comment {
    border-top: 1px solid #bcc4d1;
    border-bottom: 1px solid #bcc4d1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.opblog-container {    
    border: 2px solid #bcc4d1;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.published-container {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
    margin-top: 20px;

}

.text-nowrap {
    white-space: nowrap;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


h5{
    font-size: 1.4em;
}  