
.affix {
        top: 0;
        width: 100%;
}

.affix + .container-fluid {
        padding-top: 70px;
}

.jumbotron{
    background: url("../images/pirate4_1_FULL.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 600px;

    margin-bottom: 0px;
    border: 2px solid blue;
}


.first-row {    
    border-bottom: 6px solid #ce6504;  
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.second-row {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
}

.third-row {
    border-top: 6px solid #ce6504;  
    padding-top: 40px;
    margin-top: 20px;
}

.minitrue-container {
    padding: 0px;
    margin: auto;
    border-right: 1px solid #bcc4d1; 
}

.categorynews-container {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
}

.featurenews-container {    
    border: 2px solid #bcc4d1;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.mainfeature-container {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.mainfeature-comment {
    border-top: 1px solid #bcc4d1;
    border-bottom: 1px solid #bcc4d1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.opblog-container {    
    border: 2px solid #bcc4d1;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.published-container {    
    border-left: 2px solid #ce6504;  
    border-right: 2px solid #ce6504;  
    border-radius: 5px;
    margin-top: 20px;

}
