{% extends "buc/base.html" %}

    {% load custom_markdown %}

    {% block content %}
        {% if object_list %}
            {% for article in object_list %}
            <div class="article col-md-12">
            <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
            <h3>{{ article.published_date }}</h3>
            {{ article.text|custom_markdown }}
            </div>
            {% if article.category %}
            <div class="col-md-12">
            <a href="{{ article.category.get_absolute_url }}"><span class="label label-primary">{{ article.category.name }}</span></a>
            </div>
            {% endif %}
            {% if article.tags %}
            <div class="col-md-12">
            {% for tag in article.tags.all %}
            <a href="{{ tag.get_absolute_url }}"><span class="label label-success">{{ tag.name }}</span></a>
            {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        {% else %}
            <p>No articles found</p>
        {% endif %}

        <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous"><a href="/{{ page_obj.previous_page_number }}/">Previous Page</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="next"><a href="/{{ page_obj.next_page_number }}/">Next Page</a></li>
        {% endif %}
        </ul>

{% endblock %}