CREATE DATABASE PROJNAME;
CREATE USER PROJNAME WITH PASSWORD 'sursum69';
ALTER DATABASE PROJNAME OWNER TO PROJNAME;
ALTER ROLE PROJNAME SET client_encoding TO 'utf8';
ALTER ROLE PROJNAME SET default_transaction_isolation TO 'read committed';
ALTER ROLE PROJNAME SET timezone TO 'Europe/Stockholm';
GRANT ALL PRIVILEGES ON DATABASE PROJNAME TO PROJNAME;
ALTER USER PROJNAME CREATEDB