
{% load staticfiles %}
{% load custom_markdown %}

<div class="container-fluid minitrue-container"> <!-- this is to make it responsive to your screen with overide in css: .mainfeature-container -->
    <div class="row">        
        {% with Published_storage=view.published_media %}
        <div class="col-lg-2"> 
            <img class="published-title-graph" src="{% static 'images/pirate-logo-web.jpg' %}" alt="swoosh" > 
        </div>
        <div class="col-lg-10"> 
            <h3>Published</h3>
            <ul>
            {% for story in Published_storage %}
                <li><a href="{{ story.slug }}">{{ story.slug }}</a></li>
            {% endfor %}        
            </ul>
        </div>                
        {% endwith %}  
    </div>        
</div>